@use "./variables" as *;

@mixin dark-mode {
  background-color: $very-dark-blue;
  color: $very-dark-grayish-blue2;

  .hero {
    background-image: url("/assets/images/bg-mobile-dark.jpg");

    @media screen and (min-width: $foot) {
      background-image: url("/assets/images/bg-desktop-dark.jpg");
    }
  }

  .box__input {
    input {
      color: $dark-grayish-blue;
    }
  }
  .todos {
    .todo__list {
      & > li {
        border-bottom: 1px solid $very-dark-grayish-blue;

        & button:hover {
          filter: invert(1);
        }
      }
    }
  }

  .child {
    background-color: $very-dark-desaturated-blue;
    color: $light-grayish-blue;
  }

  .cant__left {
    background-color: $very-dark-desaturated-blue;
  }

  .button__clear {
    background-color: $very-dark-desaturated-blue;

    & button:hover {
      color: $light-grayish-blue_hover;
    }
  }

  .options {
    button {
      color: $dark-grayish-blue;

      &:hover {
        color: $light-grayish-blue_hover;
      }
    }
  }
}
